<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbm.hospital.mapper.PatientMapper">

    <resultMap id="BaseResultMap" type="com.wbm.hospital.entity.Patient">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="certificatesType" column="certificates_type" jdbcType="VARCHAR"/>
            <result property="certificatesNo" column="certificates_no" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sex,
        phone,birthday,address,
        status,certificates_type,certificates_no
    </sql>
</mapper>
